<% content_for :title, @user.name %>

<div class="container-lg px-3 py-6">
  <h1>User Profile Test</h1>
  <p>User: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Role: <%= @user.role %></p>
  
  <hr>
  
  <h2>User Card Component</h2>
  
  <!-- User Card Component -->
  <%= render(Models::Users::CardComponent.new(
    user: @user,
    current_user: current_user,
    context: :profile,
    show_admin_actions: current_user.admin?
  )) %>
  
</div>
