<%= render(Local::BaseComponent.new(**@system_arguments)) do %>
  <!-- Sidebar Navigation Container -->
  <div class="d-flex flex-column height-full width-full" style="flex-direction: column !important;">
    <%= render_navigation_sections %>
  </div>
<% end %>
