<div class="<%= container_classes %>">
  <% documents.each do |document| %>
    <div class="<%= item_classes %>" style="<%= item_styles %>">
      <%= render(User::Document::CardComponent.new(document: document)) %>
    </div>
  <% end %>
</div>
