<nav class="<%= breadcrumb_classes %>" aria-label="Breadcrumb">
  <ol class="Breadcrumbs-list">
    <% breadcrumbs.each_with_index do |crumb, index| %>
      <li class="Breadcrumbs-item">
        <% if crumb[:path] && index < breadcrumbs.length - 1 %>
          <%= link_to crumb[:label], crumb[:path], class: "Breadcrumbs-link" %>
        <% else %>
          <span class="color-fg-muted"><%= crumb[:label] %></span>
        <% end %>
      </li>
    <% end %>
  </ol>
</nav>
