<div class="<%= card_classes %>">
  <div class="Box-body">
    <div class="d-flex flex-items-center">
      <div class="flex-auto">
        <h4 class="mb-1"><%= value %></h4>
        <p class="color-fg-muted mb-0"><%= title %></p>
      </div>
      <div class="flex-shrink-0">
        <i class="octicon octicon-<%= icon %> f1"></i>
      </div>
    </div>
  </div>
</div>
