<span class="<%= badge_classes %>">
  <%= tag.name %>
  <% if can_remove_tag? %>
    <%= link_to models_remove_tag_path(document, tag), 
        method: :delete,
        class: remove_button_classes,
        data: { confirm: "Remove tag '#{tag.name}'?" },
        title: "Remove tag" do %>
      <span aria-hidden="true">&times;</span>
    <% end %>
  <% end %>
</span>
