<% if has_statistics? %>
  <div class="<%= grid_classes %>">
    <% statistics.each do |stat| %>
      <%= render(Layout::Dashboard::StatisticCardComponent.new(
        title: stat[:title],
        value: stat[:value]
      )) %>
    <% end %>
  </div>
<% end %>
